## Long ago I deleted Kendra's Arctic 2017 fastqs, but they are still tracked.
## I do not want them pushed to Github, so add the following:
Example/Arctic2017_Data/

## This doesn't need to be on Github.  One can instead use GitHub to get
## the pipeline as of a particular date.
makePackage.sh

## These also stay here.  Shared/ is not even tracked but to be clear list it.
notes_on_pushing_to_Github
Shared/

## Yikes, don't want to supply miniconda either which used to be part of
## the package.
Installation/Miniconda3-latest-Linux-x86_64.sh
